<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:lightslategrey;
   color: white;
   text-align: center;
    font-family: "Trirong", serif;
    /*font-size: 20px;*/
}
</style>
<div class="footer">
  <h5>© 2021 Copyright || Designed & Developed by : <u> <a href="https://webdforum.com" target="_blank" style="color:whitesmoke">WEBDFORUM  </a></u></h5>
</div>