{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}



{% block pageheader%}
  <header>
    <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient2.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask rgba-purple-slight">
        <div class="container h-100 d-flex justify-content-center align-items-center">
          <div class="row pt-5 mt-3">
            <div class="col-md-12 wow fadeIn mb-3">
              <div class="text-center">
                <h1 style="color: lightseagreen;"class="h1-reponsive  text-uppercase font-weight-bold mb-3 wow fadeInDown" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInDown; animation-iteration-count: 1; animation-delay: 0.3s;"><strong>WELCOME TO WEBDFORUM</strong></h1>
                <hr style="color: lightseagreen;" class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeInDown; animation-iteration-count: 1; animation-delay: 0.4s;">
                <h5 style="color: lightseagreen;" class="text-uppercase mb-5  wow fadeInDown" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeInDown; animation-iteration-count: 1; animation-delay: 0.4s;"><strong>WEB &amp;
                    DESIGN</strong></h5>
                <!--<a class="btn btn-outline-white wow fadeInDown waves-effect waves-light" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeInDown; animation-iteration-count: 1; animation-delay: 0.4s;">portfolio</a>-->
                <!--<a class="btn btn-outline-white wow fadeInDown waves-effect waves-light" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeInDown; animation-iteration-count: 1; animation-delay: 0.4s;">About me</a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
{% block main %}
{% blocktrans %}


      <!--Section: Features v.4-->
      <section class="section wow fadeIn" data-wow-delay="0.3s">

        <!--Section heading-->
        <h1 class="font-weight-bold text-center h1 my-5">WHY WEBDFORUM</h1>
        <!--Section description-->
        <p class="text-center grey-text mb-5 mx-auto w-responsive lead">well ! unlike others we provide you custom service from a single applications as per your requirement
         with a affordable budget</p>

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-4">

            <!--Grid row-->

            <!--Grid row-->

            <!--Grid row-->
            <div class="row mb-2">
              <div class="col-2">
                <i class="fas fa-2x fa-flask blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="font-weight-bold mb-4">Smart</h5>
                <p class="grey-text">In the era of Smart-Fast-Efficient Technology we serve you with trending technologies that contains all advance feature</p>
              </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row mb-2">
              <div class="col-2">
                <i class="fas fa-2x fa-glass-martini cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="font-weight-bold mb-4">24*7</h5>
                <p class="grey-text">Get instant support for satisfying your need </p>
              </div>
            </div>
            <!--Grid row-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-2 text-center text-md-left flex-center">
            <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png" alt="" class="z-depth-0">
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4">

            <!--Grid row-->
            <div class="row mb-2">
              <div class="col-2">
                <i class="fas fa-2x fa-heart deep-purple-text"></i>
              </div>
              <div class="col-10">
                <h5 class="font-weight-bold mb-4">Flexibility</h5>
                <p class="grey-text">To serve your beloved user we use technologies that support pc to mobile </p>
              </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row mb-2">
              <div class="col-2">
                <i class="fas fa-2x fa-bolt purple-text"></i>
              </div>
              <div class="col-10">
                <h5 class="font-weight-bold mb-4">Rapid</h5>
                <p class="grey-text">A team that provides you most rapid development with cutting edge technology  </p>
              </div>
            </div>
            <!--Grid row-->



          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--/Section: Features v.4-->

      <hr class="mb-5">



<div class="d-flex justify-content-center align-items-center">

    <a href="/blog/" class="btn aqua-gradient btn-rounded waves-effect waves-light">Our Works</a>

    <a href="/contact/" class="btn purple-gradient btn-rounded waves-effect waves-light">Contact Us</a>

</div>

{% endblocktrans %}
{% endblock %}